<% if @photos %>
  <div class="row">
    <% @bouncehouse.photos.each do |photo| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading preview">
            <%= image_tag photo.image.url, alt: "Photo", class: "img-responsive" %>
          </div>

          <div class="panel-body">
            <div class="container"> 
              <span class="pull-right">
                <%= link_to @bouncehouses, remote: true, method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="fa fa-trash fa-lg"></i>
                <% end %>
              </span>
            </div> 
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No photos available.</p>
<% end %>
